<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="Models">
            <directory>tests/Model</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>tests/ApiModel</directory>
        </testsuite>
        <testsuite name="Helpers">
            <directory>tests/Helpers</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
